/* makes text gradient */

.text-gradient {
  background: linear-gradient(to right, #b16cea 20%, #ff5e69, #ff8a56, #ffa84b);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

/* makes background gradient */

.bg-gradient {
  background-image: linear-gradient(
    to right,
    #b16cea 10%,
    #ff5e69,
    #ff8a56,
    #ffa84b
  );
}

/* makes border gradient */

.border-gradient {
  background: linear-gradient(#f0f2f5, #f0f2f5) padding-box,
    linear-gradient(to right, #b16cea 10%, #ff5e69, #ff8a56, #ffa84b) border-box;
  border: 2px solid transparent;
}

.br-gradient {
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(
      to right,
      #b16cea 10%,
      #ff5e69,
      #ff8a56,
      #ffa84b
    )
    1;
}

/* makes div transparent on tap */

.tap-transp {
  -webkit-tap-highlight-color: transparent;
}

/* background designs with images */

.bg-hero-section {
  background-image: url('./assets/bg.webp');
  background-size: cover;
  background-position: center;
}

.bg-footer-section {
  background-image: url('./assets/footer-bg.png');
  background-size: cover;
  background-position: center;
}

.bg-left {
  background-image: url('./assets/color-bg-left.png');
  background-size: cover;
  background-position: center;
}

.bg-right {
  background-image: url('./assets/color-bg-right.png');
  background-size: cover;
  background-position: center;
}

/* moving border div designs and animations */

.moving-div {
  animation: mymove 5s infinite;
}

@keyframes mymove {
  50% {
    border-radius: 73% 27% 70% 30% / 27% 20% 80% 73%;
  }
}

.br-fancy {
  border-radius: 73% 27% 70% 30% / 27% 20% 80% 73%;
}

/* CSS for marquee div */
.scroll-content {
  white-space: nowrap;
  animation: marquee 15s linear infinite;
}

.paused {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translateX(190%);
  }
  100% {
    transform: translateX(-190%);
  }
}

/* --> CSS for marquee div (mobile)*/
@media (max-width: 767px) {
  .scroll-content {
    animation: marquee 15s linear infinite;
  }

  .paused {
    animation-play-state: paused;
  }

  @keyframes marquee {
    0% {
      transform: translateX(470%);
    }
    100% {
      transform: translateX(-470%);
    }
  }
}

/* designs for glassy effect divs */

.glassy-div {
  background-color: rgba(255, 255, 255, 0.123);
  backdrop-filter: blur(10px) saturate(180%);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.bg-blur {
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.2);
}

/* animation for hero-icon */

.up-and-down-div {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: moveUpDown 2s infinite;
}

@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-40px);
  }
}

/* CSS for scrollbar */
/* Hide the default scrollbar in WebKit-based browsers */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}
